<form method="post" action="<%= runs_url %>">
  <input type="text" name="project" placeholder="Project">
  <input type="text" name="suite" placeholder="Suite">
  <input type="text" name="name" placeholder="Name">
  <input type="submit" value="Create run">
</form>
